# exclude .DS_Store files
.DS_Store

# exclude node_modules directory
node_modules/

# exclude build output directories
/dist/

# exclude local environment files
.env.local
.env.*.local

# exclude log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# exclude editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
